@{
    ViewBag.Title = "Usuarios";
}

<div class="row">
    <div class="col-md-3 form-horizontal">
        <form action="/Home/Detail" method="post">
            <br />
            <label for="user">Ingresar investigador</label>
            <br />
            <br />
            <input type="text" class="form-control" name="user" placeholder="Usuario" required autofocus>
            <br />
            <button class="btn btn-primary" type="submit">
                Buscar
            </button>
        </form>
    </div>
</div>